// SCSS 变量：颜色、间距等
$primary: #1989fa;
$success: #07c160;
$warning: #ff976a;
$danger: #ee0a24;

$text-color: #323233;
$text-color-secondary: #969799;
$text-color-tertiary: #c8c9cc;

$bg-color: #f7f8fa;
$border-color: #ebedf0;

$design-width: 375;
